*                         text=auto
.gitattributes            eol=lf
.gitignore                eol=lf
*.cs                      diff=csharp
*.sln                     merge=union
*.csproj                  merge=union gitlab-language=xml
*.props                   merge=union gitlab-language=xml
*.targets                 merge=union gitlab-language=xml
